.profile{
    width: 350px;
    text-align: center;
    margin: 20px auto;
    background: white;
    border: 2px solid rgb(215, 211, 211);
    border-radius: 10px;
}

.description{
    padding-top: 50px;
}

.avatar{
    width: 150px;
    height: 150px;
    border: 2px solid rgb(246, 240, 240);
    border-radius: 50%;
    
}

.name{
    color: black;
    font-size: xx-large;
    font-weight: bold;
    margin-top:32px;
    margin-bottom: 0px;
}

.tag{
    margin-top: 16px;
    margin-bottom: 0px;
    color: grey;
}

.location{
    margin-top: 16px;
    margin-bottom: 26px;
    color: grey;
}

.stats{
    display: flex;
    height: 80px;
    list-style-type: none;
    background-color: rgb(246, 236, 236);
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
   
}

.label{
    color: grey;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.quantity{
    color: black;
    font-weight: bold;
    font-size: large;
    margin: 0;
    padding: 0;
}


    